@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    font-family: "Montserrat", "Noto Sans KR", sans-serif;
    background: #eee;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}

/* scrollbar */
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 7px;
}
body::-webkit-scrollbar-track {
    background: #fff;
}

.wrapAll {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: #fff;
    margin: 0 auto;
}

.wrapAll .bg {
    height: 100vh;
}
.wrapAll .bg.home {
    background: #000;
}
.wrapAll .bg.about {
    background: pink;
}

.wrapAll .title {
    width: 400px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 30px 0;
    margin: 0 auto;
}
.wrapAll .top {
    width: 400px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    margin: 0 auto;
}
.wrapAll .menu {
    width: 400px;
    margin: 30px auto 0;
}
.wrapAll .menu li {
    color: #fff;
    font-size: 20px;
    margin: 0 0 10px;
    position: relative;
}
.wrapAll .menu li a {
    width: 100%;
    height: 100%;

    position: absolute;
}
